<!DOCTYPE>
<html>
<head>
    <title>handsof</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <form id="loginForm">
        <input type="text" id="id" name="name">
        <input type="password" id="password" name="password">
        <button type="button" id="login">로그인</button>
    </form>
</body>
<script>
    let login = (function () {
        let documentSetting = function () {
            $("#loginForm").on("click", "#login", function () {
                loginAuth();
            });
        }
        //무조건 로그인 승인
        let loginAuth = function () {
            location.href = "/login";
        }
        return {
            init:documentSetting
        }
    })();
    $(document).ready(function () {
        login.init()
    })
</script>
</html>