<!DOCTYPE>
<html>
<head>
    <title>handsof</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

</body>
<script>
    let messageList = (function () {
        let documentSetting = function () {

        }
        //사용자 전송데이터 조회 api
        let findMessageList = function () {
            $.ajax({

            });
        }
        return {
            init:documentSetting
        }
    })();
    $(document).ready(function () {
        messageList.init()
    })
</script>
</html>